# Agent keys
OPENAI_API_KEY=
GOOGLE_API_KEY=

# SERVICE_DESK Integration
SERVICE_DESK_URL=
SERVICE_DESK_USER=
SERVICE_DESK_TOKEN=

# Sentry configuration
SENTRY_DSN=

# Your time zone. Defaults to UTC.
TIME_ZONE=

# Logging level
LOG_LEVEL=